<!-- This is the template for name-code, it is a modal that has a varying number of editable,
field. Each field has a delete buttton. Fields are populated with code names. There is an add button
to add a new field -->

<div class="ui modal">
  <div class="header">University Courses</div>
  <div class="content">

    <div class="ui equal width grid">
  <div class="column"> 
   <div class="ui label">
 fdsfasd
</div>
      </div>
  <div class="column">

       <div class="ui label">
 fdsfasd
</div>
  </div>
  <div class="column">
        <div class="ui label">
 fdsfasd
</div>
  </div>
  <div class="column">
     
  </div>
  <div class="equal width row">
    <div class="column">

      <div class="ui input"><input type="text"></div>
    </div>
    <div class="column">
      <div class="ui input"><input type="text"></div>
    </div>
    <div class="column">
      <div class="ui input"><input type="text"></div>
    </div>
    <div class="column">
      <div class="ui input"><input type="text"></div>
    </div>
    
  </div>
</div>

  </div>

</div>